.DS_Store
.idea
.idea/
.DS_Store
node_modules
node_modules/
.project
dist
dist/*
npm-debug.log
package_back.json
yarn-debug.log*
yarn-error.log*
package-lock.json*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
