.ant-btn {border-radius:2px; cursor: pointer;}
.ant-btn.ant-btn-default { border-color:#1890ff; color: #1890ff }

.has-error .ant-form-explain, .has-error .ant-form-split {font-size: 12px;}
.ant-form-item-control .ant-form-explain, .ant-form-item-control .ant-form-split { margin-top: 0px}

.ant-layout { height:100%}

/* 去除表单验证提示下方外边距 */
.protalForm .ant-form-item { margin-bottom: 0}
.protalForm.ant-form-inline .ant-form-item-with-help { margin-bottom: 0px}

/* 重写专家库-项目评审 折叠面板 */
.reviewSeationGroup.ant-collapse > .ant-collapse-item {background: rgb(247, 247, 247); border-radius: 4px; margin-bottom: 10px; border: 0px; overflow: hidden}
